.clearfix:before, .clearfix:after {
  display: block;
  content: "";
  clear: both; }

.achievements-page .section-title h3 {
  padding-left: 30px;
  font-size: 24px;
  text-transform: uppercase; }

.achievements-page .section-content {
  margin-bottom: 2%;
  margin-left: 30px;
  margin-right: 30px; }
  .achievements-page .section-content .item-title {
    margin-top: 0;
    margin-bottom: 30px;
    padding: 10px 0 10px 30px;
    font-size: 20px;
    color: #33663e;
    border-top: 1px solid #dddddd;
    border-bottom: 2px solid #2c382e;
    background-color: #eeeeee; }
  .achievements-page .section-content .section-main-cup {
    position: absolute;
    top: -120px;
    right: 5%; }
  .achievements-page .section-content .city-cup {
    top: inherit;
    bottom: 0;
    right: 3%; }
  .achievements-page .section-content .item-trophy {
    position: relative;
    padding: 0 30px; }
    .achievements-page .section-content .item-trophy .row {
      margin-bottom: 0; }

.achievements-page .item-content-trophy {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #eeeeee; }
  .achievements-page .item-content-trophy .trophy-icon {
    width: 15%;
    float: left; }
  .achievements-page .item-content-trophy .about-trophy {
    margin-left: 20%; }
  .achievements-page .item-content-trophy h6 {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500; }
  .achievements-page .item-content-trophy p {
    margin-top: 5px;
    margin-bottom: 5px; }

.achievements-page .fa {
  font: inherit; }
  .achievements-page .fa:after {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.achievements-page .chevron-down, .achievements-page .chevron-up {
  display: block; }
  .achievements-page .chevron-down:after, .achievements-page .chevron-up:after {
    margin-left: 15px;
    height: 23px;
    line-height: 23px; }

.achievements-page .chevron-down:after {
  content: "\f103"; }

.achievements-page .chevron-up:after {
  content: "\f102"; }

.achievements-page .achievements-more, .achievements-page .item-standing {
  padding: 0 30px; }

.achievements-page .item-standing.padding-top {
  padding-top: 25px; }

.achievements-page .achievements-more {
  margin-top: 0;
  padding-bottom: 10px;
  display: inline-block; }
  .achievements-page .achievements-more:hover {
    cursor: pointer;
    color: #a2877c; }

.achievements-page td, .achievements-page th {
  padding: 5px; }
  .achievements-page td:first-child, .achievements-page th:first-child {
    background-color: #eeeeee; }

.achievements-page td:first-child {
  color: #33663e; }

.achievements-page table.bordered {
  margin-bottom: 20px; }
  .achievements-page table.bordered tr {
    border-bottom-color: #8eac97; }

.achievements-page .table-icon {
  margin-left: 10px;
  vertical-align: bottom; }

.achievements-page .photo-gallery {
  padding-bottom: 30px;
  background-color: #ddd;
  border-top: 1px solid #d0d0d0; }
  .achievements-page .photo-gallery .gallery-photo {
    margin: 4% 5% 4%; }
  .achievements-page .photo-gallery .photo-item {
    position: relative;
    width: 48%;
    float: left;
    background-color: #ffffff; }
    .achievements-page .photo-gallery .photo-item:first-child {
      margin-right: 4%; }
    .achievements-page .photo-gallery .photo-item:hover .item-title p {
      opacity: 1;
      transform: scale(1, 1); }
    .achievements-page .photo-gallery .photo-item:hover img {
      transform: scale(0.95, 0.95); }
    .achievements-page .photo-gallery .photo-item img {
      display: block;
      transition: transform 0.35s;
      backface-visibility: hidden; }
  .achievements-page .photo-gallery .item-title {
    position: absolute;
    top: 5%;
    left: 0;
    right: 0;
    padding: 0 15%; }
    .achievements-page .photo-gallery .item-title h5 {
      padding: 10px;
      font-size: 18px;
      text-transform: uppercase;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
      opacity: 0.8; }
    .achievements-page .photo-gallery .item-title span {
      font-weight: 800; }
    .achievements-page .photo-gallery .item-title p {
      padding: 5px;
      opacity: 0;
      transform: scale(1.2, 1.2);
      transition: opacity 0.35s, transform 0.35s; }
    .achievements-page .photo-gallery .item-title h5, .achievements-page .photo-gallery .item-title p {
      background: #fff;
      color: #224429; }

@media (max-width: 1199px) {
  .achievements-page .section-content .section-main-cup {
    max-width: 12%; } }

@media (max-width: 992px) {
  .achievements-page .section-content .city-cup {
    bottom: inherit;
    top: -50px; }
  .achievements-page table.responsive-table tr {
    padding-left: 0;
    padding-right: 0; }
  .achievements-page .table-icon {
    width: 18px; }
  .achievements-page .item-standing {
    padding-left: 0;
    padding-right: 0; } }

@media (max-width: 890px) {
  .achievements-page .section-title h3 {
    font-size: 18px; }
  .achievements-page .section-content .item-title {
    font-size: 16px; }
  .achievements-page .item-content-trophy h6 {
    font-size: 15px; } }

@media (max-width: 710px) {
  .achievements-page .section-title h3 {
    font-size: 16px; }
  .achievements-page .section-content .section-main-cup {
    max-width: 15%;
    top: -90px; }
  .achievements-page .section-content .item-title {
    margin-bottom: 15px; }
  .achievements-page .football .section-content .city-cup {
    top: -50px; }
  .achievements-page .item-content-trophy {
    margin-bottom: 15px; }
  .achievements-page .achievements-more {
    padding-bottom: 0; }
  .achievements-page .photo-gallery {
    padding-top: 30px; }
    .achievements-page .photo-gallery .photo-item {
      width: 100%; }
      .achievements-page .photo-gallery .photo-item:first-child {
        margin-right: 0;
        margin-bottom: 30px; }
  .achievements-page table.responsive-table {
    font-size: 13px; }
    .achievements-page table.responsive-table th {
      font-weight: 400; } }

@media screen and (max-width: 480px) {
  .achievements-page .section-content .item-title, .achievements-page .section-content .item-trophy {
    padding-left: 15px; }
  .achievements-page .section-content .item-trophy {
    padding-right: 15px; }
  .achievements-page .section-content .section-main-cup {
    right: -30px; }
  .achievements-page .item-content-trophy h6 {
    margin-top: 0; }
  .achievements-page .photo-gallery {
    padding-top: 20px;
    padding-bottom: 20px; }
  .achievements-page table.responsive-table th {
    width: 115px; }
  .achievements-page table.responsive-table tr th:not(:first-child) {
    height: 65px; }
  .achievements-page table.responsive-table tr td:not(:first-child) {
    height: 65px; } }
