/** a, a:hover, a:active, a:focus {
    text-decoration: none;
}
.btn:active:focus, .btn:focus, button:focus  {
    outline: none;
}*/
.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.main-page {
  padding-top: 80px;
  background: linear-gradient(to bottom, #dbd9d9 0%, #eeedec 6%, #ffffff 15%); }

.main-page-about {
  padding-bottom: 105px;
  background: url("../img/main/backgr-field.png") bottom no-repeat;
  border-bottom: 5px solid #666665; }
  .main-page-about .foto-cups {
    float: left;
    margin: 0 5%;
    width: 42%; }

.main-content {
  padding: 20px 0 5px;
  background: #ffffff;
  /*.foto-cups {
        margin-left: 5%;
    }*/ }
  .main-content .about-club {
    margin: 70px 100px 50px 30px;
    font-size: 18px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #302622; }

.main-page-slider {
  padding: 50px;
  background-color: #f2f2f2; }

@media (max-width: 890px) {
  .main-page-about .foto-cups {
    margin-left: 2%;
    margin-right: 2%; }
  .main-page-about .about-club {
    margin: 30px 50px 30px 30px;
    font-size: 16px; }
  .main-page-slider {
    padding-left: 20px;
    padding-right: 20px; } }

@media (max-width: 710px) {
  .main-page {
    padding-top: 20px; }
    .main-page .main-page-about {
      padding-bottom: 30px; }
      .main-page .main-page-about .about-club {
        margin-top: 0;
        margin-right: 30px;
        font-size: 15px; }
    .main-page .main-page-slider {
      padding-top: 20px;
      padding-bottom: 20px; } }
