/** a, a:hover, a:active, a:focus {
    text-decoration: none;
}
.btn:active:focus, .btn:focus, button:focus  {
    outline: none;
}*/
.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.trainer-page {
  padding: 70px 0 100px;
  background: linear-gradient(to bottom, #dbd9d9 0%, #eeedec 6%, #ffffff 15%); }

.trainer-page-content {
  padding: 20px 0 5px;
  background: #ffffff; }

.about-trainer {
  margin: 5% 10%;
  font-size: 18px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #302622; }
  .about-trainer .trainer-image {
    display: inline-block;
    float: left;
    max-width: 35%;
    margin-right: 5%; }
    .about-trainer .trainer-image img {
      display: block; }
  .about-trainer .trainer-card {
    padding-right: 2%; }
    .about-trainer .trainer-card p {
      margin: 10px 0; }
    .about-trainer .trainer-card span {
      font-size: 20px;
      color: #33663e; }

.trainer-foto {
  margin: 2% 50px; }
  .trainer-foto .slick-initialized .slick-slide {
    position: relative;
    padding: 10px;
    margin: 0 10px; }
  .trainer-foto .slick-initialized .fa.slick-arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 40px;
    margin: auto;
    cursor: pointer;
    color: #224429; }
    .trainer-foto .slick-initialized .fa.slick-arrow:before {
      font-size: 40px;
      opacity: 0.6;
      transition: opacity 0.5s ease-out 0.2s; }
    .trainer-foto .slick-initialized .fa.slick-arrow:hover:before {
      opacity: 1; }
  .trainer-foto .slick-initialized .fa-chevron-right {
    right: -40px; }
  .trainer-foto .slick-initialized .fa-chevron-left {
    left: -40px; }
  .trainer-foto .slick-initialized a {
    position: relative;
    display: block; }
    .trainer-foto .slick-initialized a:before {
      position: absolute;
      top: -10px;
      right: -10px;
      bottom: -10px;
      left: -10px;
      border: 1px solid #302622;
      content: '';
      -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
      transition: opacity 0.35s, transform 0.35s; }
    .trainer-foto .slick-initialized a:after {
      position: absolute;
      top: -10px;
      right: -10px;
      bottom: -10px;
      left: -10px;
      content: '';
      opacity: 0;
      background-color: #eee;
      -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
      transition: opacity 0.35s, transform 0.35s; }
    .trainer-foto .slick-initialized a:hover:before {
      transform: scale3d(0.8, 0.7, 1); }
    .trainer-foto .slick-initialized a:hover:after {
      opacity: 0.5;
      transform: scale3d(0.8, 0.7, 1); }
  .trainer-foto .slick-initialized a.fa-search-plus:after {
    content: "\f00e";
    padding-top: 25%;
    font-size: 60px;
    text-align: center;
    color: #4e3e37; }
  .trainer-foto .slick-initialized a.fa-search-plus:hover:after {
    opacity: 0.5; }

#back-to-top {
  position: fixed;
  right: 5%;
  bottom: 10%;
  transition: opacity 0.5s ease-out 0.2s; }

.hide-arrow {
  opacity: 0; }

.show {
  opacity: 0.6; }
  .show:hover {
    transition-duration: 0.1s !important;
    opacity: 1; }

@media (min-width: 1200px) {
  .container {
    width: 1100px; } }

@media (max-width: 710px) {
  #back-to-top {
    width: 50px; } }

@media (max-width: 1199px) {
  .about-trainer .trainer-card {
    font-size: 16px; }
    .about-trainer .trainer-card h4 {
      font-size: 24px; }
    .about-trainer .trainer-card h5 {
      font-size: 20px; }
    .about-trainer .trainer-card span {
      font-size: 18px; } }

@media (max-width: 890px) {
  .about-trainer .trainer-card {
    font-size: 14px; }
    .about-trainer .trainer-card h4 {
      font-size: 20px; }
    .about-trainer .trainer-card h5 {
      font-size: 18px; }
    .about-trainer .trainer-card span {
      font-size: 16px; }
    .about-trainer .trainer-card p {
      margin-left: 10px; } }

@media (max-width: 710px) {
  .about-trainer {
    margin: 2% 5% 5%; }
    .about-trainer .trainer-image {
      max-width: 50%; }
    .about-trainer .trainer-card h4 {
      font-size: 18px; }
    .about-trainer .trainer-card h5 {
      font-size: 16px; }
    .about-trainer .trainer-card span {
      font-size: 14px; } }

@media screen and (max-width: 480px) {
  .about-trainer .trainer-image {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 20px; }
  .about-trainer .trainer-card {
    padding: 3%; }
  .about-trainer h4, .about-trainer h5 {
    margin-left: 10px; } }
