
$green-color: #224429;

.breadcrumb-content {
    height: 40px;
    line-height: 40px;
    background-color: #eeeeee;
    border-bottom: 2px solid lighten($green-color,10%);
    .breadcrumb {
        font-size: 16px;
        color: lighten($green-color,10%);
        &:before {
            color: lighten($green-color,10%);
        }
    }
    .container {
        padding: 0 30px;
    }
}
@media (max-width : 710px){
    .breadcrumb-content {
        .breadcrumb {
            font-size: 14px;
            &:before {
                margin-left: 5px;
                margin-right: 5px;
                font-size: 18px;
            }
        }
    }
}
@media (max-width : 480px){
    .breadcrumb-content {
        height: auto;
        line-height: normal;
        .container {
            padding-top: 5px;
            padding-bottom: 5px;
        }
        .breadcrumb {
            padding-top: 3px;
            padding-bottom: 3px;
            font-size: 13px;
            &:before {
                margin: 0;
                height: auto;
            }
        }
    }
}