
.mrn-bottom {
    margin-bottom: 0;
}
@mixin scale($time) {
    transition: all $time;
    backface-visibility: hidden;
    &:hover {
        transform: scale(1.1);
    }
}
@mixin hover-line($color){
    position: relative;
    padding-bottom: 3px;
    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        background-color: $color;
        transition: width .5s ease-in-out;
    }
    &:hover:after {
        width: 100%;
    }
}
$brown-color: #302622;
$beige-color: #b3a4a4;
$green-color: #224429;
$light-green-color: #8eac97;
footer{
    color: #ffffff;
    background-color: #224429;
    a {
        color: #ffffff;
    }
    .footer-copyright {
        padding: 20px 0;
        font-size: 13px;
        color: #eee;
        background-color: #233d28;
    }
    .footer-menu {
        padding-top: 20px;
        background: url("footer-backgr1.png") no-repeat;
        background-size: 100% 100%;
    }
}
.footer-menu {
    img {
        display: block;
        margin: 10px auto 0;
    }
    ul {
        li {
            padding: 1px 0;
            a:hover {
                color: lighten($beige-color, 2%);
            }
            a{
                @include hover-line($beige-color);
            }
        }
        li:first-child {
            margin-bottom: 4%;
            font-size: 18px;
            color: #ddd;
        }
    }
}

@media (max-width: 992px) {
    .footer-menu {
        .logo-footer {
            display: none;
        }
    }
}
@media (max-width: 710px) {
    footer {
        text-align: center;
        .footer-menu {
            background-size: cover;
            padding-top: 0;
            ul {
                margin-bottom: 0;
                li:first-child {
                    margin-bottom: 5px;
                    position: relative;
                    font-size: 16px;
                    &:after {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 25%;
                        width: 50%;
                        height: 1px;
                        background-color: lighten($light-green-color,10%);
                        opacity: 0.7;
                    }
                }
            }
        }
        .footer-copyright {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
}

#back-to-top {
    position: fixed;
    right: 5%;
    bottom: 10%;
    z-index: 1000;

    transition: opacity 0.5s ease-out 0.2s;
}
.hide-arrow {
    opacity: 0;
}
.show {
    opacity: 0.6;
    &:hover {
        transition-duration: 0.1s!important;
        opacity: 1;
    }
}

@media (max-width : 710px) {
    #back-to-top {
        width: 50px;
    }
}
