* a, a:hover, a:active, a:focus {
    text-decoration: none;
}
*:focus, .btn:focus, button:focus  {
    outline: none;
}
.btn:active:focus, .btn:focus, button:focus  {
    outline: none;
}
$brown-color: #302622;
$beige-color: #b3a4a4;
body {
    box-sizing: border-box;
}
header {
    color: #ffffff;
    background: url("../img/header/header-backgr.jpg");
    border-bottom: 5px solid desaturate((lighten($brown-color, 35%)), 5);
    .row {
        margin-bottom: 0;
    }
    h1 {
        margin-bottom: 0.3em;
        font-size: 3.2em;//48px;
    }
    .header-logo-text {
        padding-top: 100px;
        padding-bottom: 50px;
        color: #cec1b1;
        span {
            font-family: 'Crimson Text', serif;
            font-size: 0.6em;
        }
        .sponsor {
            margin-top: 5px;
            margin-bottom: 0;
            font-size: 1.5em;
        }
    }
    .header-ladle {
        position: relative;
        height: 328px;
        img {
            position: absolute;
            z-index: 10;
            right: 0;
            display: block;
            height: inherit;
            opacity: 0.7;
        }
        .ladle-opacity {
            z-index: 0;
        }

    }
}

@media (min-width: 1200px) {
    .container {
        width: 1100px;
    }
}

@media (max-width: 1199px) {
    .container {
        width: 95%;
    }
    header {
        .header-ladle {
            height: 300px;
            img {
                right: -8%;
            }
        }
        .header-logo-text {
            padding-bottom: 30px;
        }
    }
}
@media (max-width : 890px) {
    header {
        .header-ladle {
            height: 270px;
        }
        h1 {
            font-size: 2.6em;
            margin-bottom: 0.4em;
        }
        .header-logo-text {
            padding-bottom: 20px;
            .sponsor {
                font-size: 1.3em;
            }
        }
    }
}
@media (max-width : 710px) {
    header {
        .header-ladle {
            height: 240px;
        }
        h1 {
            font-size: 2em;
        }
        .header-logo-text {
            .sponsor {
                font-size: 1.1em;
            }
        }
    }
}
@media screen and (max-width : 480px) {
    header {
        h1 {
            margin-top: 10px;
            font-size: 16px;
        }
        .header-logo-text .sponsor {
            font-size: 14px;
        }
    }
    .header-ladle {
        display: none;
    }
}


