
$brown-color: #302622;
$beige-color: #b3a4a4;
@mixin scale($time) {
    transition: all $time;
    backface-visibility: hidden;
    &:hover {
        transform: scale(1.1);
    }
}

nav {
    position: absolute;
    top: 50px;
    height: 51px;
    line-height: 44px;

    color: #ffffff;
    background-color: $brown-color;
    border-top: 2px solid desaturate((lighten($brown-color, 35%)), 5);
    border-bottom: 5px solid desaturate((lighten($brown-color, 35%)), 5);

    .fa:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .header-logo-img {
        img {
            margin-top: -30px;
        }
        .logo-small {
            width: 48px;
            margin-top: -4px;
            margin-left: 30%;
        }
    }
    ul {
        font-family: 'Open Sans', sans-serif;
        li {
            transition: none;
        }
        a {
            padding: 0 20px;
            font-size: 20px;
        }
        a:hover {
            color: lighten($beige-color, 5%);
            background-color: darken($brown-color, 5%);
        }
        a.active {
            background-color: darken($brown-color, 5%);
        }
    }
    .dropdown-content {
        top: 44px !important;
        background-color: darken($brown-color, 5%);
        li>a {
            font-size: 18px;
            color: #ffffff;
            transition: none;
        }
        li>a:hover {
            color: lighten($beige-color, 5%);
        }
    }
    .nav-search-form {
        position: relative;
        width: 20%;
        form {
            position: absolute;
            right: 0;
            top: 49px;

            width: 893%;
            padding: 0 20px;

            -webkit-transition: height 0.7s cubic-bezier(1, 0, 0, 1);
            -moz-transition: height 0.7s cubic-bezier(1, 0, 0, 1);
            -ms-transition: height 0.7s cubic-bezier(1, 0, 0, 1);
            -o-transition: height 0.7s cubic-bezier(1, 0, 0, 1);
            transition: height 0.7s cubic-bezier(1, 0, 0, 1);
            -webkit-transform: translateZ(0);
            -moz-transform: translateZ(0);
            -ms-transform: translateZ(0);
            -o-transform: translateZ(0);
            transform: translateZ(0);
            height: 0;
            overflow: hidden;
            background-color: darken($brown-color, 5%);
        }
        .search-open {
            -webkit-transition-duration: 0.4s;
            -moz-transition-duration: 0.4s;
            -ms-transition-duration: 0.4s;
            -o-transition-duration: 0.4s;
            transition-duration: 0.4s;
            -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
            -moz-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
            -ms-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
            -o-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
            transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
            height: 90px;
            overflow: visible;
            z-index: 2;
        }
    }
    .search-icon {
        display: block;
        font-size: 28px;
        text-align: center;

        color: $beige-color;
        &:before {
            content: "\f002";
            height: 44px;
            line-height: 44px;
        }
        &:hover {
            cursor: pointer;
            color: #ffffff;
            background-color: darken($brown-color, 5%);
        }
    }
    .input-field {
        margin-top: 30px;
        margin-bottom: 10px;
        color: $beige-color;
        label{
            font-size: 18px;
            color: $beige-color;
        }
        input[type=text]+label.active {
            color: #ffffff;
        }
        label.active {
            -webkit-transform: translateY(0);
            transform: translateY(-65%);
        }
        input {
            font-size: 14px;
        }
        input[type=text]:valid {
            box-sizing: border-box;
            border-bottom: 1px solid #9e9e9e;
        }
        input[type=text]:focus {
            border-bottom: 1px solid #ffffff;
            box-shadow: 0 1px 0 0 #ffffff;
        }
    }
    .btn {
        width: 100%;
        padding: 0;

        line-height: 30px;
        text-transform: inherit;
        font-weight: bold;
        color: #9e9e9e;

        background-color: transparent;
        border: 2px solid $beige-color;
        border-radius: 0;

        &:hover {
            color: (lighten($beige-color, 15%));
            background-color: (darken($beige-color, 40%));
            border: 2px solid (lighten($beige-color, 10%));
        }
    }
    .menu-icon:before {
        content: "\f0c9";
        margin-right: 10px;

        font-size: 32px;
        height: 44px;
        line-height: 46px;
    }
    .container {
        position: relative;
    }
    .nav-logoTitan {
        position: absolute;
        display: none;
        left: 55px;
        top: 0;
        width: 37px;
        img {
            @include scale(0.5s);
        }
    }
}
.side-nav {
    .divider {
        margin: 0;
    }
}
#mobile-nav {
    color: #ffffff;
    background-color: $brown-color;

    .collapsible-header {
        border-bottom: 1px solid (darken($beige-color, 30%));
        &:hover {
        color: lighten($beige-color, 5%);
        }
    }
    .fa {
        display: inherit;
    }
    .chevron-down:before {
        content: "\f078";
        float: right;
        height: inherit;
        line-height: inherit;
    }
}
.nav-fixed {
    position: fixed;
    top: 0;
    z-index: 998;
}
#titan-search[disabled] {
    box-sizing: border-box;
    color: inherit;
    border-bottom-color: inherit;
}


@media (max-width: 1199px) {
    nav {
        ul {
            a {
                font-size: 16px;
                padding: 0 10px;
            }
        }
        a.button-collapse {
            display: none;
        }
        .hide-on-med-and-down {
            display: block !important;
        }
        .dropdown-content li > a {
            font-size: 16px;
        }
    }
}
@media (max-width : 992px) {
    nav {
        .nav-search-form {
            form {
                width: 846%;
            }
        }
    }
}
@media (max-width : 890px) {
    nav {
        a.button-collapse {
            display: block;
            i {
                height: 44px;
                line-height: 46px;
            }
        }
        .hide-on-med-and-down {
            display: none !important;
        }
    }
}
@media (max-width : 710px) {
    .nav-search-form {
        display: none;
    }
    nav {
        .header-logo-img .logo-small {
            margin-top: inherit;
            margin-left: 15%;
        }
        .nav-logoTitan {
            left: 4.65%;
            top: 4px;
        }
    }
}
@media (max-width : 480px) {
    nav {
        .header-logo-img {
            img {
                margin-top: -10px;
            }
        }
        .nav-logoTitan {
            top: 6px;
        }
    }
}

