/** a, a:hover, a:active, a:focus {
    text-decoration: none;
}
.btn:active:focus, .btn:focus, button:focus  {
    outline: none;
}*/
//@import 'navbar';
body {
    max-height: 100%;
}
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
$brown-color: #302622;
$beige-color: #b3a4a4;
$green-color: #224429;
$light-green-color: #8eac97;

.photo-gallery-page {
    .photo-gallery-content {
        padding-bottom: 1%;
        background-color: #ddd;
        border-top: 2px solid #2c382e;
    }
    .gallery-title {
        position: relative;
        margin-top: 0;
        padding: 30px 0;

        text-transform: uppercase;
        font-weight: 500;

        color: lighten($green-color,10%);
        background-color: #ffffff;
        &:after {
            content: "";
            position: absolute;
            bottom: 20px;
            left: 450px;

            width: 200px;
            height: 2px;

            background-color: lighten($green-color,10%);
            transform: scale(0);
            transition: transform 0.5s;
        }
        &:hover:after {
            transform: scale(0);
        }
    }
    .strip-faid-in {
        &:after {
            transform: scale(1);
        }
    }
    .gallery-photo {
        margin: 4% 5% 4%;
    }
    .photo-item {
        position: relative;
        width: 48%;
        float: left;

        background-color: #ffffff;
        &:first-child {
            margin-right: 4%;
        }
        &:hover .item-title p {
            opacity: 1;
            transform: scale(1,1);
        }
        &:hover img {
            transform: scale(0.95,0.95);
        }
        img {
            display: block;
            transition: transform 0.35s;
            backface-visibility: hidden;
        }
    }
    .item-title {
        position: absolute;
        top: 5%;
        left: 0;
        right: 0;

        padding: 0 15%;
        h5 {
            padding: 10px;
            text-transform: uppercase;
            opacity: 0.8;
        }
        p {
            padding: 5px;

            opacity: 0;
            transform: scale(1.2,1.2);
            transition: opacity 0.35s, transform 0.35s;
        }
        h5, p {
            background: #fff;
            color: $green-color;
        }
    }
}

#back-to-top {
    position: fixed;
    right: 5%;
    bottom: 10%;
    //opacity: 0;
    transition: opacity 0.5s ease-out 0.2s;
}
.hide-arrow {
    opacity: 0;
}
.show {
    opacity: 0.6;
    &:hover {
        transition-duration: 0.1s!important;
        opacity: 1;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1100px;
    }
}
@media (max-width : 710px) {
    #back-to-top {
        width: 50px;
    }
}

@media (max-width: 1199px) {
    .photo-gallery-page {
        .gallery-title {
            font-size: 24px;
            &:after {
                left: 42%;
                width: 16%;
            }
        }
        .item-title {
            h5 {
                font-size: 20px;
            }
        }
    }
}
@media (max-width : 890px) {
    .photo-gallery-page {
        .gallery-title {
            font-size: 20px;
        }
        .gallery-photo {
            margin: 5% 10%;
        }
        .item-title {
            h5 {
                font-size: 18px;
            }
        }
        .photo-item {
            width: 100%;
            &:first-child {
                margin-right: 0;
                margin-bottom: 10%;
            }
        }
    }
}
@media (max-width : 710px) {
    .photo-gallery-page {
        .gallery-photo {
            margin-left: 5%;
            margin-right: 5%;
        }
        .gallery-title {
            padding-top: 20px;
            padding-bottom: 20px;
            &:after {
                bottom: 10px
            }
        }
    }
}

@media  screen and (min-width : 320px) and (max-width : 480px) {}
@media  screen and (min-width : 481px) and (max-width : 700px) {}
@media  screen and (min-width : 710px) and (max-width : 1000px) {}
@media  screen and (min-width : 1001px) and (max-width : 1024px) {}

