/** a, a:hover, a:active, a:focus {
    text-decoration: none;
}
.btn:active:focus, .btn:focus, button:focus  {
    outline: none;
}*/
//@import 'navbar';
$brown-color: #302622;
$beige-color: #b3a4a4;
$green-color: #224429;
$light-green-color: #8eac97;

.clearfix:after, .grid:after{
    display: block;
    content: "";
    clear: both;
}
.players-page {
    padding: 50px 0;
    background: linear-gradient(to bottom, #dbd9d9 0%, #eeedec 6%, #ffffff 15%);
    section {
        margin-bottom: 30px;
    }

    .section-title {
        padding: 10px 30px;
        font-size: 18px;
        text-transform: uppercase;

        color: #ffffff;
        background-color: desaturate(lighten($green-color, 10%),10%);
    }
    .section-content {
        margin: 0 30px;
        padding-bottom: 15px;
    }
    .grid {
        max-width: 1200px;
    }
    .grid-item {
        float: left;
        width: 23.5%;
        margin-right: 2%;
        margin-bottom: 20px;
        //height: 106px;

    }
    .player-card {
        //background: linear-gradient(to left, #eeeeee 60%, #fefcea 40%);
        background-color: #eeeeee;
    }
    .player-card-image, .player-card-content {
        float: left;
    }
    .player-card-image {
        width: 40%;
        //border: 1px solid $light-green-color;
        img {
            max-width: 100%;
            height: auto;

            border: 1px solid $light-green-color;
            border-radius: 3px;
            vertical-align: bottom;
            //vertical-align: -36%;
            //line-height: normal;
        }
    }
    .player-card-content {
        width: 60%;
        //width: 140px;
        padding-left: 10px;

        font-size: 14px;
        font-style: italic;
        //background-color: $green-color;
        .player-name {
            font-style: normal;
        }
        p {
            margin-bottom: 0;
            margin-top: 5px;
            color: $green-color;
        }
    }
}

@media (min-width: 1200px) {
    .players-page {
        .player-card-content p {
            margin-top: 10px;
        }
    }
}
@media (min-width : 1100px) {
    .grid-third-tablet {
        .grid-item:nth-child(4n) {
            margin-right: 0;
        }
    }
}
@media (max-width : 710px) {
    .players-page {
        padding: 20px 0;
    }
}
@media (min-width: 800px) and (max-width : 1099px) {
    .grid-third-tablet {
        .grid-item {
            width: 32%;
        }
        .grid-item:nth-child(3n) {
            margin-right: 0;
        }
    }
}

@media (min-width: 600px) and (max-width: 799px) {
    .grid-half-mobile {
        .grid-item {
            width: 47%;
            margin-right: 6%;
        }
        .grid-item:nth-child(2n) {
            margin-right: 0;
        }
    }
}
@media (max-width: 599px) {
    .grid-half-mobile {
        .grid-item {
            width: 90%;
        }
    }
}


