/** a, a:hover, a:active, a:focus {
    text-decoration: none;
}*/
*:focus, .btn:focus, button:focus  {
    outline: none;
}
.btn:active:focus, .btn:focus, button:focus  {
    outline: none;
}
//@import 'navbar';
$brown-color: #302622;
$beige-color: #b3a4a4;
$green-color: #224429;
$light-green-color: #8eac97;

.stadium-info {
    .fa {
        font-family: inherit;
        :before {
            font: normal normal normal 14px/1 FontAwesome;
        }
    }
}
.stadium-location {
    font-size: 16px;
    color: desaturate($brown-color,20%);
    p {
        padding-left: 30px;
    }
    span {
        color: $green-color;
    }
    .stadium-address, .show-on-map {
        display: inline-block;
    }
    .stadium-address {
        //margin-right: 0px;
    }
    .show-on-map {
        padding-left: 10px;
        font-size: 14px;
        color: $green-color;
        transition: color 0.35s;
        &:hover {
            cursor: pointer;
            color: lighten($green-color,30%);
        }
    }
    .fa-map-marker:before {
        margin-right: 5px;
        font-size: 18px;
    }
}
.stadium-characteristics {
    @extend .stadium-location;
    margin-top: -15px;
}
.stadium-description-wrap {
    position: relative;
    padding-bottom: 100px;
    background-color: #ffffff;
    background: url("../img/stadium/stadium-bgr.png") bottom no-repeat;
    //background: url("../img/stadium/Стадионфон21.jpg") 0% 0% / contain no-repeat;;
    background-size: contain;
    background-color: #ffffff;
    overflow: hidden;
    z-index: 2;
    border: 3px solid $light-green-color;
    border-radius: 5px;

}
.stadium-foto {
    position: relative;
    margin-top: -10%;
    padding-top: 15%;
    padding-bottom: 100px;

    background-color: #eeeeee;
    border-top: 1px solid #d0d0d0;
    z-index: -0;
    .slider-for {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        .slick-slide {
            border: 2px solid lighten($green-color, 10%);
        }
    }
    /*.slick-center {
        border: 2px solid $green-color;
    }*/
    .slider-nav {
        .slick-slide {
            padding: 20px;
        }
        .fa {
            position: absolute;
            //top: 0;
            bottom:-200%;
            height: 40px;
            margin: auto;
            cursor: pointer;
            color: $green-color;
            &:before {
                font-size: 40px;
                opacity: 0.6;
                transition: opacity 0.5s ease-out 0.2s;
            }
            &:hover:before {
                opacity: 1;
            }
        }
        .fa-chevron-right{
            right: 50px;
        }
        .fa-chevron-left{
            left: 50px;
        }
        img {
            transition: transform 0.5s;
            backface-visibility: hidden;
            &:hover {
                opacity: 0.8;
                transform: scale(1.1,1.1);
            }
        }
    }
}

.stadium-description {
    padding: 15px 10%;
}
#stadium-map-load {
    max-width: 100%;
    margin-bottom: 10px;
}

#back-to-top {
    position: fixed;
    right: 5%;
    bottom: 10%;
    //opacity: 0;
    transition: opacity 0.5s ease-out 0.2s;
    z-index: 100;
}
.hide-arrow {
    opacity: 0;
}
.show {
    opacity: 0.6;
    &:hover {
        transition-duration: 0.1s!important;
        opacity: 1;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1100px;
    }
}
@media (max-width : 710px) {
    #back-to-top {
        width: 50px;
    }
}

@media (max-width : 890px) {
    .stadium-description {
        padding-right: 5%;
        padding-left: 5%;
    }
    .stadium-foto {
        padding-bottom: 5%;
        .slider-nav {
            .slick-slide {
                padding: 10px;
            }
        }
    }
}
@media (max-width : 710px) {
    .stadium-location, .stadium-characteristics {
        font-size: 15px;
    }
    .stadium-characteristics {
        .row {
            margin-bottom: 0;
        }
        .col:first-child {
            p:nth-child(2){
                margin-bottom: 0;
            }
        }
    }
    .stadium-description-wrap {
        padding-bottom: 50px;
    }
    .stadium-foto .slider-for {
        width: 90%;
    }
    .stadium-foto .slider-nav {
        .fa {
            bottom: -320%;
        }
        .fa-chevron-left {
            left: -10px;
        }
        .fa-chevron-right {
            right: -10px;
        }
    }

}
@media screen and (max-width : 480px) {
    .stadium-foto .slider-nav {
        .fa {
            opacity: 0;
        }
    }
}

@media  screen and (min-width : 320px) and (max-width : 480px) {}
@media  screen and (min-width : 481px) and (max-width : 700px) {}
@media  screen and (min-width : 710px) and (max-width : 1000px) {}
@media  screen and (min-width : 1001px) and (max-width : 1024px) {}

